html {
  background-color: #f0f0f0;
  font-family: sans-serif;
  height: 100%;   
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-main {
  flex: 1;                 /* 把 Header 和 Footer 之外的空间全部交给它 */
  display: flex;
  flex-direction: column;
  justify-content: center; /* 在这个高度里，内容垂直居中 */
}

.placeholder {
  height: 2rem;      /* 你想要的“空行”高度，可以改 */
}

a{
  text-decoration: none;        /* 去掉下划线 */       
  color: #0d0950;      /* 可以换成你的主题色 */
  font-weight: 500; 
}

a:hover,
a:focus {
  text-decoration: underline;   /* 或者改颜色也行 */
  text-underline-offset: 2px;   /* 下划线离文字远一点，更好看 */
}

* {
  box-sizing: border-box;
}

.enphasize{
  color: #E50046;           /* 颜色 */      /* 大小 */
  font-weight: bolder;     /* 加粗 */
}

.quote{
  color: #9e9e9e  ;  
  font-style: oblique; 
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: #E50046;
  text-align: center;
}

/* 导航样式 */

.menu {
  background-color: #0d0950;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
}

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #0d0950;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
  color: #f0f0f0;
}

:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}

@media screen and (min-width: 636px) {
  nav {
    text-align: center;
  }

  .nav-links {
    margin: 0 auto;      /* 水平居中 */
    display: inline-block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  
  .menu {
    display: none;
  }
}

