---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "ABOUT Camillia";

const hobbis = ["阅读","看日落"];
---
<BaseLayout pageTitle={pageTitle}>
	<h2>Intro</h2>
	<p>机械工程大三在读，暂未考虑转码...喜欢码字、喜欢分享、喜欢尝试，故。</p>
	<h2>Goals</h2>
	<ul>
		<li><a href="https://liaoxuefeng.com/books/python/introduction/index.html">学习Python</a></li> 
	</ul>
	<h2>Achives</h2>
	<ul>
		<li><a href="https://camilliablog.netlify.app/">搭建博客</a></li>
	</ul>
	<h2>Hobbis</h2>
	<ul>{hobbis.map((hobby) => <li class="hobby">{hobby}</li>)}</ul>
</BaseLayout>
