---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---


<BaseLayout pageTitle={frontmatter.title}>
    <p style="color: #9e9e9e; font-style: oblique;">{frontmatter.pubDate.toString().slice(0,12)}</p>
    <h2 style="color:#E50046 ;">{frontmatter.title}</h2>
    <div class="tags">
        {frontmatter.tags.map((tag:string) => (
        <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
        ))}
    </div>
    <slot />
</BaseLayout>



<style>
  a {
    color: #00539F;
    font-size: small;
    text-decoration: none;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1em;
    background-color: #F8FCFD;
  }
</style>